* {
  margin: 0 0 10px 0;
}

img.small {
  height: 135px;
  border: 1px solid;
}

#right-column {
  float: right;
  margin: 1px;
}

#left-column {
  float: left;
  clear: left;
}

body {
  width: 600px;
  margin: 0 0 0 300px;
  padding: 1em;
  border: none;
  background-image: url(../congruent_pentagon.png);
  background-repeat: repeat-y;
  background-position: -40%;
}

p{
  font-size: 16px;
  font-family: 'Abel', sans-serif;
  margin: 0;
  clear: both;
}

h1, h2, h3{
  font-family: 'Dosis', sans-serif;
}

h2 {
  font-size: 22px;
  font-family: 'Dosis', sans-serif;
}

h3 {
  font-size: 18px;
  font-family: 'Dosis', sans-serif;
  float: left;
}

h4 {
  font-size: 16px;
  font-family: 'Abel', sans-serif;
  float: right;
}

ul {
  margin: 1px;
  padding: 0;
  text-align: center;
  clear: both;
  font-size: 16px;
  font-family: 'Abel', sans-serif;
}

li {
  list-style-type: none;
  display: inline;
}

li > a {
  display: inline-block;
  padding: 16px;
  border: 1px solid #ccc;
  text-decoration: none;
}

li > a:visited {
  color: #ccc;
}

li > a:hover {
  background: rgba(0, 128, 0, .3);
  color: #FFF;
  border: 1px solid rgba(0, 128, 0, .3);
}
