* {
  margin: 0 0 .1in 0;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0 auto 0 auto;
  padding: 0;
  border: none;
  position: relative;
}

h2, h3, h4, h5 {
  margin-top: .2in;
  margin-bottom: .2in;
}

h1 {
  font-family: 'Nova Oval', cursive;
  font-size: .45in;
  text-align: center;
  margin-bottom: -.4in;
}

h2, h3 {
  text-align: center;
  font-family:'Megrim', cursive;
}

#readmore {
  display: none;
}

ul {
  display: none;
}

a:link, a:visited {
    font-family:'Megrim', cursive;
}

#nav2 {
  display: none;
}

a[href^="http://"]:after { content: " (" attr(href) ") "; }
