body {
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 30px;
  border: none;
  position: relative;
  background-color: white;
  background-image: url("watercolor.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  font-size: 16px;
}

img.small {
  margin: 10px;
  height: 200px;
  border: 1px solid;
  float: right;
  clear: left;
}

img.large {
  margin: 0 100px;
  height: 500px;
  border: 1px solid;
}

img.large2 {
  margin: 0 100px;
  height: 500px;
  border: 1px solid;
}

header {
  padding: 10px;
  background-color: white;
}

h1 {
  margin: 0;
  font-family: 'Nova Oval', cursive;
  font-size: 45px;
  text-align: center;
  color: #83838D;
}

h2, h3 {
  text-align: center;
  font-family:'Megrim', cursive;
}

#Resume p {
  clear: both;
}

#Resume h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 {
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

h5 {
  float: right;
  margin-right: 10px;
}

.boxed {
  margin: 30px auto;
  padding: 8px 0 8px 0;
  padding-left: 10px;
  background-color: white;
  width: 600px;
}

.boxed2 {
  margin: 0 auto;
  padding: 8px;
  background-color: white;
  width: 800px;
}

#NightRays p,
#Nana p,
#AnnieTheArcher p {
  margin-top: 0;
  margin-bottom: 0;
}

#NightRays p {
  padding-left: 1.5em;
  text-indent: -1em;
}

#NightRays p:first-letter {
  font-weight: bold;
}

#Nana p:nth-of-type(4n),
#AnnieTheArcher p:nth-of-type(4n) {
  margin-bottom: 16px;

}

ul {
  text-align: center;
  font-size: 20px;
  background-color: white;
  margin-top: 0px;
}

a:link, a:visited {
    font-family:'Megrim', cursive;
    display: inline;
    font-weight: bold;
    color: grey;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

li {
  list-style-type: none;
  display: inline-block;
  padding: 5px;
}

li > a {
  text-decoration: none;
}

li > a:visited {
  color: #ccc;
}

li > a:hover {
  color: rgba(0, 128, 0, .3);
}

#nav2 {
  text-align: right;
  background-color: white;
  font-size: 16px;
}
