* {
  margin: 0 0 .1in 0;
}

img.small {
  display: none;
}

body {
  margin: 0 auto 0 auto;
  border: none;
}

p {
  font-size: .18in;
  font-family: 'Abel', sans-serif;
  margin: 0;
  clear: both;
}

h1 {
  font-size: .3in;
  font-family: 'Dosis', sans-serif;
}

h1, h2, h3{
  font-family: 'Dosis', sans-serif;
}

h2 {
  font-size: .24in;
  font-family: 'Dosis', sans-serif;
  clear: both;
}

h3 {
  font-size: .2in;
  font-family: 'Dosis', sans-serif;
  float: left;
}

h4 {
  font-size: .18in;
  font-family: 'Abel', sans-serif;
  float: right;
}

nav {
  display: none;
}

a[href^="http://"]:after { content: " (" attr(href) ") "; }
